.name{
    font-size: 8vh;
}
.intro{
    padding:22vh 5vh;
    font-size:4vh;
    text-align:center;
}
.photo{
    background-color: red;
}
main{
    display:flex;
    text-align:center;
}
main div{
    width: 100%;
}
.myprojects{
    display:flex;
    text-align:center;
    justify-content: space-evenly;
    padding: 2vw;
}
@media screen and (max-width: 1279px){
    .name{
        font-size: 12vh;
    }
    .intro{
        padding:8vh 2vh;
        font-size:8vh;
        text-align:center;
    }
}
@media screen and (max-width: 768px){
    .photo{
        display:collapse;
        visibility:hidden;
        width: 0%;
    }
    .name{
        font-size: 8vh;
    }
    .intro{
        padding:2vh 2vh;
        font-size:2vh;
        text-align:center;
    }
}

@media screen and (max-width: 480px){
    .photo{
        display:collapse;
        visibility:hidden;
        width: 0%;
    }
    .name{
        font-size: 12vh;
    }
    .intro{
        padding:8vh 2vh;
        font-size:4vh;
        text-align:center;
    }
}