body{
    height:100%;
    width:100%;
}
#intro{
    color: dark;
    font-size: 2vw;
    padding-top:10px;
    text-align:center;
    line-height: 25px;
    font-weight:bold;
}
#intro div{
    max-width:50%;
}
#name{
    font-size: 4vw;
}
#projectStatus{
    padding: 2vh;
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width:700px) {
    #intro{
        font-size: 5vw;
    }
    #name{
        font-size: 6vw;
    }
    #projectStatus button{
        margin-top:2vw;
    }
}
@media screen and (max-width:400px){
    #intro{
        font-size: 7vw;
    }
    #name{
        font-size: 9vw;
    }
    #projectStatus button{
        margin-top:2vw;
    }
    #photo{
        display:collapse;
    }
}